In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from pandas_profiling import ProfileReport

In [2]:
path = 'DataProvided'
file_list = os.listdir(path)
file_list

['Central Regional Fall 2021 Data Schema.docx',
 'Central Regional Fall 2021 Problem Statement.docx',
 'death_rates_smoking_age.csv',
 'sales_per_day.csv',
 'stop_smoking.csv',
 'tobacco_production.csv',
 'tobacco_production_footnotes.txt',
 'tobacco_use_us.csv',
 'tobacco_use_ww.csv',
 'us_chronic_resp_disease.csv']

In [3]:
data_dict = {file[:-4]:pd.read_csv(os.path.join(path,file)) for file in file_list if '.csv' in file}

In [4]:
data_dict['death_rates_smoking_age'].head()

,Entity,Code,Year,All_ages,Under_5,5_14,50_69,15_49,70_plus
0,Afghanistan,AFG,1990,63.895905,NaN,NaN,267.230009,16.589519,679.006755
1,Afghanistan,AFG,1991,61.846347,NaN,NaN,266.975516,15.456913,677.617648
2,Afghanistan,AFG,1992,53.436511,NaN,NaN,266.430053,12.767999,679.505810
3,Afghanistan,AFG,1993,47.044347,NaN,NaN,267.969428,11.000425,683.973588
4,Afghanistan,AFG,1994,45.799808,NaN,NaN,272.403687,10.738020,691.007773

In [5]:
data_dict['sales_per_day'].head()

    Entity Code  Year   amt
0  Armenia  ARM  1988  12.0
1  Armenia  ARM  1989  11.6
2  Armenia  ARM  1990  11.9
3  Armenia  ARM  1991   9.3
4  Armenia  ARM  1992   4.9

In [6]:
data_dict['stop_smoking'].head(5)

,Entity,Code,Year,AvgCigarettePriceDollars,AvgTaxesAsPctCigarettePrice,EnforceBansTobaccoAd,HelpToQuit
0,Algeria,DZA,2012,1.84,47.0,4,3
1,Algeria,DZA,2014,2.09,40.9,4,4
2,Argentina,ARG,2012,2.79,69.9,4,4
3,Argentina,ARG,2014,3.47,69.7,4,5
4,Armenia,ARM,2012,1.69,38.4,2,4

In [52]:
data_dict['tobacco_use_us']['Question'].unique()

array(['Do you currently use chewing tobacco, snuff, or snus?',
       'Four Level Smoking Status (variable calculated from one or more BRFSS questions)',
       'Adults who are current smokers (variable calculated from one or more BRFSS questions)'],
      dtype=object)

In [24]:
report_dict = {key:ProfileReport(value, title = key,explorative=True) for key,value in data_dict.items()}
report_dict.keys()

dict_keys(['death_rates_smoking_age', 'sales_per_day', 'stop_smoking', 'tobacco_production', 'tobacco_use_us', 'tobacco_use_ww', 'us_chronic_resp_disease'])

In [ ]:
report_dict['death_rates_smoking_age'].to_widgets()

In [27]:
report_dict['sales_per_day'].to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [31]:
report_dict['stop_smoking'].to_widgets()

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [32]:
report_dict['tobacco_production'].to_widgets()

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [33]:
report_dict['tobacco_use_us'].to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\visualisation\plot.py:317: UserWarning: The handle <matplotlib.patches.Wedge object at 0x0000014241667310> has a label of '_SMOKER3' which cannot be automatically added to the legend.
  plt.legend(wedges, data.index.values, **legend_kws)
C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\visualisation\plot.py:317: UserWarning: The handle <matplotlib.patches.Wedge object at 0x0000014241667FD0> has a label of '_RFSMOK3' which cannot be automatically added to the legend.
  plt.legend(wedges, data.index.values, **legend_kws)

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [34]:
report_dict['tobacco_use_ww'].to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [35]:
report_dict['us_chronic_resp_disease'].to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:4594: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [40]:
data_dict['sales_per_day']['Entity'].unique()

array(['Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Belarus',
       'Belgium', 'Bulgaria', 'Canada', 'Croatia', 'Czechia',
       'Czechoslovakia', 'Denmark', 'Estonia', 'Finland', 'France',
       'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Moldova', 'Netherlands', 'New Zealand', 'Norway',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Slovakia', 'Slovenia',
       'Spain', 'Sweden', 'Switzerland',
       'USSR and the former Soviet Union', 'United Kingdom',
       'United States', 'Yugoslavia'], dtype=object)