In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import json
import plotly.express as px
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
with open('config/EDA.json') as fh:
    configs = json.load(fh)
    POLICY_PATH, EDA_VIZ_PATH = configs['POLICY_PATH'], configs['EDA_VIZ_PATH']

In [3]:
policy = pd.read_csv(POLICY_PATH)

In [6]:
policy.loc[policy['Code'] == 'USA'].sort_values(by='Year')

,Entity,Code,Year,AvgCigarettePriceDollars,AvgTaxesAsPctCigarettePrice,EnforceBansTobaccoAd,HelpToQuit
753,United States,USA,2007,NaN,NaN,2,3
754,United States,USA,2010,NaN,NaN,2,5
193,United States,USA,2012,6.07,42.9,2,5
194,United States,USA,2014,6.07,42.9,2,5