In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import json
import plotly.express as px
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
with open('config/EDA.json') as fh:
    configs = json.load(fh)
    EDA_VIZ_PATH, TB_US_PATH = configs['EDA_VIZ_PATH'], configs['TB_US_PATH']

In [33]:
tb_use  = pd.read_csv(TB_US_PATH)
tb_use.head(3)

,Year,Locationabbr,Locationdesc,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,...,Confidence_limit_High,Data_value_unit,Data_value_type,Data_Value_Footnote,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Every day,25-34,Age Group,52,4.31,...,5.60,%,Crude Prevalence,NaN,20,AGE02,CAT3,USENOW3,RESP079,"(38.34774030000045, -98.20078122699965)"
1,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Some days,Female,Gender,17,0.40,...,0.62,%,Crude Prevalence,NaN,20,SEX2,CAT2,USENOW3,RESP080,"(38.34774030000045, -98.20078122699965)"
2,2019,KS,Kansas,Smoker Status,Four Level Smoking Status (variable calculated...,Never smoked,65+,Age Group,"2,150",54.32,...,56.18,%,Crude Prevalence,NaN,20,AGE09,CAT3,_SMOKER3,RESP071,"(38.34774030000045, -98.20078122699965)"

In [34]:
tb_use.shape

(111048, 21)

# Preliminary

Locationdesc: state abbr + UW (all states and DC (median)) and US (united states). Does not have equal participation

In [57]:
# tb_use['Locationabbr'].value_counts().head()

Topic - Quesion is 1 on 1  
Smoker Status - Four Level Smoking Status (variable calculated from one or more BRFSS questions)  
Smokeless Tobacco - Do you currently use chewing tobacco, snuff, or snus?  
Current Smoker Status - Adults who are current smokers (variable calculated from one or more BRFSS questions)

In [56]:
# tb_use.groupby('Topic')['Question'].apply(lambda x: len(set(x)))
# tb_use['Topic'].value_counts()
# tb_use['Question'].value_counts()

In [22]:
state_occur = tb_use['Locationabbr']\
    .value_counts().to_frame().reset_index()\
    .rename(columns = {'index':'code', 'Locationabbr':'num_records'})

breakouts

In [63]:
tb_use.groupby(['Question', 'Break_Out'])[['Locationabbr']].count()

                                                                                                       Locationabbr
Question                                           Break_Out
Adults who are current smokers (variable calcul... $15,000-$24,999                                             1060
                                                   $25,000-$34,999                                             1060
                                                   $35,000-$49,999                                             1060
                                                   $50,000+                                                    1060
                                                   18-24                                                       1060
...                                                                                                             ...
Four Level Smoking Status (variable calculated ... Native Hawaiian or other Pacific Islander, non-...          1272
                                                   Other, non-Hispanic                                         2120
                                                   Overall                                                     2200
                                                   Some post-H.S.                                              2120
                                                   White, non-Hispanic                                         2119

[78 rows x 1 columns]

Missingness

In [53]:
tb_use.isna().mean(axis = 0)

Year                     0.000000
Locationabbr             0.000000
Locationdesc             0.000000
Topic                    0.000000
Question                 0.000000
Response                 0.000000
Break_Out                0.000000
Break_Out_Category       0.000000
Sample_Size              0.000000
Data_value               0.194637
Confidence_limit_Low     0.196149
Confidence_limit_High    0.196149
Data_value_unit          0.000000
Data_value_type          0.000000
Data_Value_Footnote      0.805363
LocationID               0.000000
BreakoutID               0.000000
BreakOutCategoryID       0.000000
QuestionID               0.000000
ResponseID               0.000000
GeoLocation              0.001513
dtype: float64