In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import json
import plotly.express as px
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
with open('config/EDA.json') as fh:
    configs = json.load(fh)
    EDA_VIZ_PATH, TB_US_PATH = configs['EDA_VIZ_PATH'], configs['TB_US_PATH']

In [3]:
tb_use  = pd.read_csv(TB_US_PATH)
tb_use.head(2)

,Year,Locationabbr,Locationdesc,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,...,Confidence_limit_High,Data_value_unit,Data_value_type,Data_Value_Footnote,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Every day,25-34,Age Group,52,4.31,...,5.60,%,Crude Prevalence,NaN,20,AGE02,CAT3,USENOW3,RESP079,"(38.34774030000045, -98.20078122699965)"
1,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Some days,Female,Gender,17,0.40,...,0.62,%,Crude Prevalence,NaN,20,SEX2,CAT2,USENOW3,RESP080,"(38.34774030000045, -98.20078122699965)"

In [22]:
# Tranforming sample size to int (no invalid string, checked)
tb_use['Sample_size'] = tb_use['Sample_Size'].apply(lambda x: int(x.replace(',', '')))

In [23]:
# this can be better optimized by first finding total sample size per group and left joining it onto the original table
def impute_subgroup(sub_group):
#     print(f'new subgroup: ')
#     display(sub_group)
    total = sub_group['Sample_size'].sum()
    def impute_dv(row):
        if pd.isna(row['Data_value']):
            if total == 0:
                return 0
            return (row['Sample_size'] / total) *100
        else:
            return row['Data_value']
    sub_group['Data_value'] = sub_group.apply(impute_dv, axis=1)
    return sub_group

In [24]:
# impute data value by manually calculating proportion of sample size (DOF ignore so maybe a bit off in value)
tb_use_cleaned = tb_use.groupby(['Year', 'Locationabbr', 'Break_Out', 'Question']).apply(impute_subgroup)

In [25]:
tb_use_cleaned.to_csv('data/tobacco_use_us_cleaned.csv')

Extensive EDAs are inside the tableau workbook.

# Preliminary

Year range

In [26]:
tb_use['Year'].unique()

array([2019, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2020],
      dtype=int64)

Locationdesc: state abbr + UW (all states and DC (median)) and US (united states). Does not have equal participation

In [27]:
# tb_use['Locationabbr'].value_counts().head()

Topic - Quesion is 1 on 1  
 
- Q: Smoker Status - Four Level Smoking Status (variable calculated from one or more BRFSS questions)  
- A: \['Never smoked', 'Smoke some days', 'Smoke everyday', 'Former smoker'\]  
  
- Q: Smokeless Tobacco - Do you currently use chewing tobacco, snuff, or snus? 
- A: \[Every day, Some days, Not at all\]  

- Q: Current Smoker Status - Adults who are current smokers (variable calculated from one or more BRFSS questions)  
- A: \[Yes, No\]

In [28]:
# tb_use.groupby('Topic')['Response'].unique()['Smoker Status']

In [29]:
# tb_use.groupby('Topic')['Question'].apply(lambda x: len(set(x)))
# tb_use['Topic'].value_counts()
# tb_use['Question'].value_counts()
# state_occur = tb_use['Locationabbr']\
#     .value_counts().to_frame().reset_index()\
#     .rename(columns = {'index':'code', 'Locationabbr':'num_records'})

breakouts

In [30]:
# tb_use.groupby(['Topic', 'Break_Out'])[['Locationabbr']].count().loc['Current Smoker Status']

In [5]:
tb_use.head(2)

,Year,Locationabbr,Locationdesc,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,...,Confidence_limit_High,Data_value_unit,Data_value_type,Data_Value_Footnote,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Every day,25-34,Age Group,52,4.31,...,5.60,%,Crude Prevalence,NaN,20,AGE02,CAT3,USENOW3,RESP079,"(38.34774030000045, -98.20078122699965)"
1,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Some days,Female,Gender,17,0.40,...,0.62,%,Crude Prevalence,NaN,20,SEX2,CAT2,USENOW3,RESP080,"(38.34774030000045, -98.20078122699965)"

In [10]:
subgroup = tb_use.groupby(['Locationabbr', 'BreakoutID', 'QuestionID', 'ResponseID']).get_group(('KS', 'AGE02', 'USENOW3', 'RESP079'))

# Quantifying tobacco culture

territory to exclude: puertorico (too small sample size), virgin island (one data point lmao)

visual clustering:  
- y = overall health awareness
- x = income difference

In [111]:
years = range(2011, 2021)
states = set(tb_use_cleaned['Locationabbr'].unique()) - set({'GU', 'VI', 'PR', 'US', 'UW'})

In [112]:
tb_use_cleaned.groupby(['Break_Out', 'BreakoutID']).size()

Break_Out                                                BreakoutID
$15,000-$24,999                                          INCOME2       4452
$25,000-$34,999                                          INCOME3       4451
$35,000-$49,999                                          INCOME4       4451
$50,000+                                                 INCOME5       4452
18-24                                                    AGE01         4451
25-34                                                    AGE02         4452
35-44                                                    AGE03         4451
45-54                                                    AGE04         4451
55-64                                                    AGE05         4451
65+                                                      AGE09         4452
American Indian or Alaskan Native, non-Hispanic          RACE03        2862
Asian, non-Hispanic                                      RACE04        2862
Black, non-Hispanic                                      RACE02        2862
                                                         RACE2         1549
College graduate                                         EDUCA4        4452
Female                                                   SEX2          4452
H.S. or G.E.D.                                           EDUCA2        4451
Hispanic                                                 RACE08        2862
                                                         RACE3         1576
Less than $15,000                                        INCOME1       4452
Less than H.S.                                           EDUCA1        4452
Male                                                     SEX1          4452
Multiracial, non-Hispanic                                RACE07        2862
                                                         RACE5         1560
Native Hawaiian or other Pacific Islander, non-Hispanic  RACE05        2862
Other, non-Hispanic                                      RACE06        2862
                                                         RACE4         1583
Overall                                                  BO1           4620
Some post-H.S.                                           EDUCA3        4452
White, non-Hispanic                                      RACE01        2862
                                                         RACE1         1587
dtype: int64

In [182]:
state = 'AZ'
year = 2011
low_income = 'INCOME2'
high_income = 'INCOME5'
overall = 'BO1'

In [181]:
relavent_year_state.loc[relavent_year_state['Break_Out']=='Overall']

,Year,Locationabbr,Locationdesc,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,...,Data_value_unit,Data_value_type,Data_Value_Footnote,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation,Sample_size
17442,2011,AZ,Arizona,Current Smoker Status,Adults who are current smokers (variable calcu...,Yes,Overall,Overall,"1,023",19.3,...,%,Crude Prevalence,NaN,4,BO1,CAT1,_RFSMOK3,RESP046,"(34.86597028, -111.763811277)",1023

In [114]:
relavent_year_state = tb_use_cleaned.loc[\
                       (tb_use_cleaned['Locationabbr'] == state) &\
                       (tb_use_cleaned['Year'] == year)&(tb_use_cleaned['QuestionID']=='_RFSMOK3')&\
                       (tb_use_cleaned['Response']=='Yes')]

In [115]:
relavent_year_state['Data_value'].mean()

20.345904954499495

In [190]:
def state_by_subgroup(year, state, group1=low_income, group2=high_income, overall=overall):
    relavent_year_state = tb_use_cleaned.loc[\
                       (tb_use_cleaned['Locationabbr'] == state) &\
                       (tb_use_cleaned['Year'] == year)&(tb_use_cleaned['QuestionID']=='_RFSMOK3')&\
                       (tb_use_cleaned['Response']=='Yes')]
    name = relavent_year_state['Locationdesc'].iloc[0]
#     print(relavent_year_state['Locationabbr'].unique())
    subgroup_tobacco_use = relavent_year_state.loc[
                       (tb_use_cleaned['BreakoutID'].isin([group1, group2]))\
                    ].set_index('BreakoutID')['Data_value']
    # average proportion of people not currently smokers among all subgroups
    overall_healthiness = 100 - relavent_year_state.loc[relavent_year_state['BreakoutID'] == overall]\
        .set_index('BreakoutID')['Data_value'].loc[overall]
    
    # diff in proportion of people that are smokers
    diff_subgroups_smoking = subgroup_tobacco_use.loc[group1] - subgroup_tobacco_use.loc[group2]
    
    return name, overall_healthiness, diff_subgroups_smoking

In [229]:
def generate_scatter_data(group1, group2, overall):
    cols = {'Year':[], 'Code':[], 'state':[], 'overall_health':[], 'diff_smoke_income':[]}
    for year in years:
        for state in states:
    #         print(state, year)
            try:
                name, x, y = state_by_subgroup(year, state, group1=group1, group2=group2, overall=overall)
            except:
                name, x, y = None, None, None
            cols['Year'].append(year)
            cols['Code'].append(state)
            cols['overall_health'].append(x)
            cols['state'].append(name)
            cols['diff_smoke_income'].append(y)
    df = pd.DataFrame(cols)
    df.to_csv('data/healthy_vs_income_diff.csv')
    return df

In [230]:
scatter = generate_scatter_data(group1, group2, overall='AGE01')

In [231]:
scatter.head()

   Year Code        state  overall_health  diff_smoke_income
0  2011   NM   New Mexico            78.6               15.6
1  2011   ME        Maine            70.8               17.5
2  2011   OH         Ohio            69.5               19.3
3  2011   NY     New York            78.4               16.1
4  2011   MS  Mississippi            71.0               10.3

In [232]:
progression = scatter\
    .groupby(['Code', 'state'])\
    .apply(lambda x: x['overall_health'].iloc[-1] - x['overall_health'].iloc[0])\
    .rename('progression').to_frame().reset_index()

In [233]:
progression.head()

  Code       state  progression
0   AK      Alaska        11.70
1   AL     Alabama        19.20
2   AR    Arkansas        14.22
3   AZ     Arizona        12.43
4   CA  California         6.94

In [236]:
progression.to_csv('data/youth_progression.csv', index=False)

In [239]:
scatter_overall = generate_scatter_data(group1, group2, overall)
progression_overall = scatter_overall\
    .groupby(['Code', 'state'])\
    .apply(lambda x: x['overall_health'].iloc[-1] - x['overall_health'].iloc[0])\
    .rename('progression').to_frame().reset_index()

In [240]:
progression_overall.head()

  Code       state  progression
0   AK      Alaska         4.92
1   AL     Alabama         5.83
2   AR    Arkansas         6.54
3   AZ     Arizona         6.18
4   CA  California         4.82

In [242]:
progression_overall.to_csv('data/overall_progression.csv', index=False)