In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import json
import plotly.express as px
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
with open('config/EDA.json') as fh:
    configs = json.load(fh)
    EDA_VIZ_PATH, TB_US_PATH = configs['EDA_VIZ_PATH'], configs['TB_US_PATH']

In [3]:
tb_use  = pd.read_csv(TB_US_PATH)

In [9]:
tb_use.head(2)

,Year,Locationabbr,Locationdesc,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,Data_value,...,Confidence_limit_High,Data_value_unit,Data_value_type,Data_Value_Footnote,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Every day,25-34,Age Group,52,4.31,...,5.60,%,Crude Prevalence,NaN,20,AGE02,CAT3,USENOW3,RESP079,"(38.34774030000045, -98.20078122699965)"
1,2019,KS,Kansas,Smokeless Tobacco,"Do you currently use chewing tobacco, snuff, o...",Some days,Female,Gender,17,0.40,...,0.62,%,Crude Prevalence,NaN,20,SEX2,CAT2,USENOW3,RESP080,"(38.34774030000045, -98.20078122699965)"

In [10]:
tb_use['Locationabbr'].value_counts()

MN    2094
AZ    2094
NC    2094
RI    2094
DE    2094
OK    2094
GA    2094
NE    2094
IN    2094
MO    2094
LA    2094
CO    2094
WA    2094
SC    2094
MI    2094
TX    2094
IA    2094
KY    2094
KS    2094
MD    2093
NM    2093
UT    2093
WI    2093
IL    2093
CA    2093
OR    2093
HI    2093
VA    2093
PA    2093
OH    2093
FL    2093
NY    2092
NV    2092
ND    2092
TN    2092
AR    2092
CT    2092
AL    2092
MA    2092
MT    2092
AK    2092
WV    2092
ME    2091
WY    2091
SD    2091
VT    2091
NH    2090
MS    2089
DC    2089
ID    2089
GU    2088
PR    2064
NJ    1859
VI     234
UW      84
US      84
Name: Locationabbr, dtype: int64